body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: system-ui, sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  border: 5px solid black;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border-radius: 24px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.current-color {
  font-weight: 700;
}
